{%- if include.keys -%}
  {%- assign keys = include.keys -%}
{%- endif -%}

{%- if include.field -%}
  {%- assign field = include.field -%}
{%- endif -%}

<div class="page-segments">
  <ul class="page-segments-list">
    {% for key in keys %}
      {%- assign date_parts = key | split: '-' -%}
      {%- assign year = date_parts[0] -%}
      {%- assign month = date_parts[1] -%}
      <h2 id="{{ key }}" class="segment-name">{{ year }}-{{ month }}</h2>
      {% for post in site.posts %}
        {% assign post_year = post.date | date: "%Y" %}
        {% assign post_month = post.date | date: "%m" %}
        {% if post_year == year and post_month == month %}
          <li>
            {% include views/post-item.html item=post %}
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
