---
layout: post
hidden:
  - header
  - navigator
  - related_posts
---

<img src=".\assets\images\banners\cank.jpg" alt="" style="align-items: center;border-radius: 50%;inline-size: 30%;" >
<br>
<h1>
Hakkımda
</h1>
<p>Mesleki kariyerimde 4 yıl proje yönetimi ve iş geliştirme konularında deneyim kazandım. 2 yıl tedarik zinciri yönetimi ve 4 yıldan fazla bilgi teknolojisi deneyimine sahibim. Farklı sektörlerde çalışma tecrübesi kazandım ve ekiplerle işbirliği yapma becerisi edindim.</p>
<p>Hayat boyu öğrenmeye inanan biri olarak, araştırma yapma ve bilgi edinme konusunda kendimi geliştirmeye devam ediyorum. Çok yönlü bir profesyonel olarak, edindiğim beceri ve deneyimlerle organizasyonunuzun ihtiyaçlarına yanıt vermeyi hedefliyorum.</p>
<p>
  Yazmayı, okumayı ve araştırmayı gerçekten seviyorum. Bu alışkanlıklar, hem profesyonel hem de kişisel yaşamımda beni sürekli yeni bilgilerle beslemekte ve perspektifimi genişletmekte. Ayrıca, teknolojiye olan yoğun ilgim sayesinde, sektördeki yenilikleri yakından takip ediyor ve teknolojik gelişmelere ayak uydurma konusunda her zaman motivasyon duyuyorum. Bu ilgi ve beceriler, sürekli değişen ve gelişen bir dünyada adaptasyon ve ilerleme kapasitemi artırıyor. </p>
<p>
