---
layout: post
hidden:
  - header
  - navigator
  - related_posts
---

<img src=".\assets\images\banners\cank.jpg" alt="" style="align-items: center;border-radius: 50%;inline-size: 30%;" >
<br>
<br>
<h1 style="text-align: center;">
Can Ince, Mühendis ve Geliştirici
</h1>
<h2>Kısaca Ben</h2>

<p>Veriye dayalı çözümler, yenilikçi düşünme ve anlamlı bir etki yaratma yoluyla değer yaratma tutkusuna sahip bir profesyonel.</p>

<p>Son zamanlarda AI ve CX ile ilgileniyorum.</p>

<p>On yılı aşkın profesyonel deneyimim ile altı önemli holdinge ve aynı zamanda bir Ar-Ge firmasına hizmet verdim ve son dört yıldır veri bilimi konusunda uzmanlaşıyorum.</p>

<p>Kişisel İletişim: ttmcan@yahoo.com</p>
<h2>Mesleki Hayatım</h2>
<p>Mesleki kariyerimde 4 yıl proje yönetimi ve iş geliştirme konularında deneyim kazandım. 2 yıl tedarik zinciri yönetimi ve 4 yıldan fazla bilgi teknolojisi deneyimine sahibim. Farklı sektörlerde çalışma tecrübesi kazandım ve ekiplerle işbirliği yapma becerisi edindim.</p>
<p>Hayat boyu öğrenmeye inanan biri olarak, araştırma yapma ve bilgi edinme konusunda kendimi geliştirmeye devam ediyorum. Çok yönlü bir profesyonel olarak, edindiğim beceri ve deneyimlerle organizasyonunuzun ihtiyaçlarına yanıt vermeyi hedefliyorum.</p>
<p>
  Yazmayı, okumayı ve araştırmayı gerçekten seviyorum. Bu alışkanlıklar, hem profesyonel hem de kişisel yaşamımda beni sürekli yeni bilgilerle beslemekte ve perspektifimi genişletmekte. Ayrıca, teknolojiye olan yoğun ilgim sayesinde, sektördeki yenilikleri yakından takip ediyor ve teknolojik gelişmelere ayak uydurma konusunda her zaman motivasyon duyuyorum. Bu ilgi ve beceriler, sürekli değişen ve gelişen bir dünyada adaptasyon ve ilerleme kapasitemi artırıyor. </p>
<h2>Felsefem</h2>
<p>Özgürlüğün ve özerkliğin derin bir savunucusu olarak, yaşamımı, bireysel özgürlüklerimi ve özerk karar verme yeteneğimi koruyacak ve geliştirecek bir şekilde şekillendirdim. Bu güçlü özgürlük duygusu, evrenin sınırsız bilgi hazinesine olan tutkulu merakımı ateşliyor ve bilgi kırıntılarının geniş olaylar şemasında nasıl bir etkisi olduğunu anlamama yardımcı oluyor. Her bilgi parçasının, bütünsel bir perspektifin oluşturulmasında tamamlayıcı bir rol oynadığına olan inancım, bu bakış açısını pekiştiriyor.
<p>Hayata dair çok disiplinli yaklaşımım, 'iş' kavramını benim için sürekli bir öğrenme ve kişisel gelişim sürecine dönüştürüyor. Her yeni bilgi parçası ile karşılaştığımda, entelektüel ve kişisel gelişim fırsatlarını coşkuyla kucaklayan, sürekli büyüyen bir öğrenci ve çırak olarak kendimi görüyorum. Halk arasında 'tembel' olarak etiketlenmiş olmama rağmen, bu özellik, öğrenme yolumu eşsiz bir şekilde şekillendiriyor. Bilgiyi rahatça ve derinlemesine özümsememi sağlıyor, hayatımı bereketlendiriyor ve yaşam boyu öğrenme yolculuğuma benzersiz bir boyut katıyor.</p>
<h2>Yeteneklerim</h2>
<p>Metodik zihniyetim, yapay zeka ve müşteri deneyimi (CX) alanlarına olan ilgimi derinleştiriyor. Proje yönetimi ofislerinde edindiğim deneyim, stratejik düşünme ve problem çözme becerilerimi geliştirmeme yardımcı oldu. Karşılaştığım zorluklara çeşitli perspektiflerden yaklaşmayı tercih ederim ve sürekli olarak yenilikçi çözümler ararım. Analitik zihniyetim ve farklı deneyimlerim sayesinde, çeşitli profesyonel bağlamlarda değerli katkılar sağlama yeteneğine sahibim.</p>
<p>Soft Skills: Adaptability, Communication Skills, Critical Thinking and Problem Solving/Defining, Continuous Learning, Digital Fluency</p>
<p>Certificates/Courses: Harvard CS50AI, Stanford-ML CS229, Data Analysis by Microsoft (MS), Software Development by MS, Responsive Web Design - FreeCodeCamp, Kişilerarası İlişkiler Psikoterapisi, Global AI ve Quadient Sertifikaları ve daha devamı için lütfen linkedin sayfamı ziyaret ediniz.</p>
<h2>Projeler</h2>
<p>Web ve İşletim Sistemi Uygulamaları: URL Kısaltıcı, Görev ve Bilet Yönetim Sistemi</p>
<p>Invuca'nın projeleri (kendi girişimim): Equinox, Webusto, nTMS, Bonaca, Opvuca, inceus</p>
<p>Enerji Sektörü: Kömür Santrali, Kombine Çevrim Santrali, Güneş Enerjisi Santrali, Rüzgar Enerjisi Santrali, Jeotermal Enerji Santrali, Elektrik Piyasası, Elektrik Dağıtım Projeleri.</p>
<h2>Sonuç</h2>
<p>Programlama (Python, .NET konuları), AI geliştirilmesi ve toolları, CX ve Davranışsal Veri Bilimi, İş ve Proje Geliştirme konularında belli düzeyde bilgi birikimim ve deneyimim mevcuttur.</p>
<h2>Son Söz</h2>
<p>Ayinesi iştir kişinin lafa bakılmaz demiştir Ziya Paşa.</p>