---
layout: post
hidden:
  - header
  - navigator
  - related_posts
---

<h1>
  my pinboard
  <br>
  <p style="font-size: 15px;"></p>
  
</h1>
<h2 id="Books">Books (Authors)</h2>
  <p>Paulo Coelho, Daniel Yergin, Yoah Noah Harari, Daniel Goleman, Adam Grant, Daniel Kahneman, John Perkins, Robert Greene, David Eagleman, David Burns, Mark Manson, Martin Ford</p>
<h2 id="Movies">Movies</h2>  
  <p>Robocop, Interstellar, Inception, Adjusment Bureau, Fountain, Avatar, Star Wars, LOTR, Up, Cast Away, Matrix, Terminal, Bucket List, Intouchables, Soul, Intern, Wanted, Forrest Gump, Shawshank Redemption, Green Mile </p>
<h2 id="Music">Music</h2>
  <p>Coldplay, Passenger, Johny Cash, Dvorjak, Kygo, Kadebostany </p>
  
<h2 id="Places">Important Places I follow</h2>
<p>Big Four Reports (KPMG,PwC,E&Y,Deloitte), McKinsey-Bain-BCG Reports, NDRC Reports, Scribd, CODE Magazine, CXM, Sifted, HBR, MIT Tech Review, Wired, Forbes, Economist, WSJ, FT 
</p>
<h2 id="Links">Links</h2>
<p>
  <a class="link-2 light" href="https://www.weforum.org/agenda/2019/01/what-is-the-fourth-industrial-revolution/" target="_blank">What is the Fourth Industrial Revolution?</a>
</p>
<p>
  <a class="link-2 light" href="https://www.gatesnotes.com/The-Age-of-AI-Has-Begun" target="_blank">The Age of AI has begun</a>
</p>

<p>
  
</p>

<p>
<a class="link-2 light" href="https://gatesnotes.com" target="_blank">gatesnotes</a>, 
<a class="link-2 light" rel="me" href="https://wef.org" target="_blank">wef</a>

</p>
